.options-output {
	@inter-option-margin: .3em;
	@label-margin: 15em;
	@drag-control-width: 1em;
	@wide-mode-min-width: 60em;
	margin: 1em 0;
	fieldset {
		margin: @inter-option-margin 0 1px 0;
		padding: 0 10px;
		border: groove 2px #DDD;
		& > fieldset {
			margin-left: -9px;
			margin-right: -9px;
			padding: 0 7px;
			& > fieldset {
				margin-left: -6px;
				margin-right: -6px;
				padding: 0 4px;
			}
		}
		// printing won't work in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=471015
		//	unless js trickery is used: http://stackoverflow.com/questions/7336586/printing-fieldsets-in-firefox
	}
	.buttons {
		margin: @inter-option-margin 0;
	}
	.option {
		margin: @inter-option-margin 0;
		@media (min-width: @wide-mode-min-width) {
			margin-left: @label-margin;
			&.no-lead {
				margin-left: 0;
			}
		}
		&.only-buttons {
			@media print {
				display: none;
			}
		}
		label:first-child {
			display: block;
			@media (min-width: @wide-mode-min-width) {
				margin-left: -@label-margin;
				display: inline-block;
				width: @label-margin - @inter-option-margin;
				padding-right: @inter-option-margin;
				text-align: right;
				line-height: 0.8em; // when label spans multiple lines
				& + span.space {
					display: none;
				}
			}
		}
		.min {
			display: inline-block;
			width: 4em;
			text-align: right;
		}
		.max {
			display: inline-block;
			width: 4em;
			text-align: left;
		}
		input[type="number"] { // number inputs in addition to range input
			width: 4.5em;
		}
		label:first-child + input[type="number"] { // standalone number input
			width: 12em;
		}
		input[type="text"] {
			width: 100%;
			box-sizing: border-box;
		}
		input[type="range"] {
			width: 12em;
			margin: 0;
			padding: 0;
			vertical-align: middle; // baseline looks better on IE
		}
		input:invalid {
			background: #F8A;
		}
	}
	@media not print {
		.draggable-with-handle {
			position: relative;
			margin: @inter-option-margin @drag-control-width;
			&.ghost {
				opacity: .4;
			}
			[draggable], .delete {
				position: absolute;
				top: 0;
				bottom: 0;
				width: @drag-control-width;
			}
			[draggable] { // drag handle
				left: -@drag-control-width;
				cursor: move;
				// http://www.patternify.com/
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGUlEQVQYlWNgIAYYGxv/J4SJMog4MFStAwDfUCsJGefs4gAAAABJRU5ErkJggg==) center no-repeat, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAF0lEQVQYlWNgIBZ0dHT8J8SmIhiK1gEAJMkXUFw51ewAAAAASUVORK5CYII=) center;
			}
			.delete {
				right: -@drag-control-width;
				cursor: default;
				border: dotted 1px #888;
				box-sizing: border-box;
				// http://www.patternify.com/
				background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJklEQVQYlWNgIBYYGxv/J0ocXQCXRrgETgUETSDaJIJuItp3+AAAbDIUubYyZeYAAAAASUVORK5CYII=) center no-repeat;
			}
		}
	}
	button {
		@media print {
			display: none;
		}
	}
	abbr {
		text-decoration: dotted underline;
		@media print {
			text-decoration: none;
		}
	}
}
