.options-output {
	@inter-option-margin: .3em;
	@label-margin: 15em;
	@drag-control-width: 1em;
	@wide-mode-min-width: 60em;
	.svg(@width,@height,@contents) {
		@svg: "<svg xmlns='http://www.w3.org/2000/svg' width='@{width}' height='@{height}'>@{contents}</svg>";
		@data: escape(@svg);
		background-image: url("data:image/svg+xml;charset=utf-8,@{data}");
	}
	.frame() {
		border: groove 2px #DDD;
	}
	.visually-hidden() {
		//// doesn't work with dataTransfer.setDragImage()
		//position: absolute;
		//left: -10000px;
		//width: 1px;
		//height: 1px;
		//overflow: hidden;

		// [h5bp]
		// contains deprecated property 'clip'
		// can try to fix it with clip-path: http://stackoverflow.com/a/34723602
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	margin: 1em 0;
	fieldset {
		margin: @inter-option-margin 0 1px 0;
		padding: 0 @inter-option-margin 0 10px;
		.frame();
		& > fieldset {
			margin-right: ~"calc(1px - @{inter-option-margin})";
			margin-left: -9px;
			padding-left: 7px;
			& > fieldset {
				margin-left: -6px;
				padding-left: 4px;
			}
		}
		// printing won't work in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=471015
		//	unless js trickery is used: http://stackoverflow.com/questions/7336586/printing-fieldsets-in-firefox
	}
	.buttons {
		margin: @inter-option-margin 0;
	}
	.option {
		margin: @inter-option-margin 0;
		@media (min-width: @wide-mode-min-width) {
			margin-left: @label-margin;
			&.no-lead {
				margin-left: 0;
			}
		}
		&.only-buttons {
			@media print {
				display: none;
			}
		}
		label:first-child {
			display: block;
			@media (min-width: @wide-mode-min-width) {
				margin-left: -@label-margin;
				display: inline-block;
				width: @label-margin - @inter-option-margin;
				padding-right: @inter-option-margin;
				text-align: right;
				line-height: 0.8em; // when label spans multiple lines
				& + span.space {
					display: none;
				}
			}
		}
		.min {
			display: inline-block;
			width: 4em;
			text-align: right;
		}
		.max {
			display: inline-block;
			width: 4em;
			text-align: left;
		}
		input[type="number"] { // number inputs in addition to range input
			width: 4.5em;
		}
		label:first-child + input[type="number"] { // standalone number input
			width: 12em;
		}
		input[type="text"] {
			width: 100%;
			box-sizing: border-box;
		}
		input[type="range"] {
			width: 12em;
			margin: 0;
			padding: 0;
			vertical-align: middle; // baseline looks better on IE
		}
		input:invalid {
			background: #F8A;
		}
	}
	@media not print {
		.draggable-with-handle {
			@drag-margin: @drag-control-width + @inter-option-margin;
			position: relative;
			margin: @inter-option-margin @drag-margin;
			&.ghost {
				opacity: .4;
			}
			[draggable], .delete {
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				width: @drag-control-width;
				padding: 0;
				background-color: transparent;
				& > span {
					.visually-hidden();
				}
			}
			[draggable] { // drag handle
				left: -@drag-margin;
				cursor: move;
				background: data-uri('./drag-burger.gif') center no-repeat, data-uri('./drag-grip.gif') center;
				&:hover {
					background: data-uri('./drag-burger-hover.gif') center no-repeat, data-uri('./drag-grip-hover.gif') center;
				}
			}
			.delete {
				.cross-icon(@color) {
					.svg(16,16,"<path d='M 2 2 L 14 14 M 2 14 L 14 2' fill='none' stroke='@{color}' stroke-width='2' />");
				}
				font-size: 1em;
				right: -@drag-margin;
				cursor: default;
				border: dotted 1px #888;
				box-sizing: border-box;
				.cross-icon(#444);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				&:hover {
					border-color: #D88;
					.cross-icon(#C44);
					&:active {
						background-position: 50% ~"calc(50% + 1px)";
					}
				}
			}
		}
	}
	@media print {
		button {
			display: none;
		}
		.draggable-with-handle [draggable] {
			display: none;
		}
	}
	abbr {
		text-decoration: dotted underline;
		@media print {
			text-decoration: none;
		}
	}
}
